.description {
    /*max-width: 250px;*/
    padding: 1rem;
    color: black;
    border-width: 3px;
    border-style: solid;
    border-image:
            linear-gradient(
                    to bottom,
                    grey,
                    rgba(0, 0, 0, 0)
            ) 1 100%;
}
}